/*
* #17252A 
* #2B7A78
* #3AAFA9
* #DEF2F1
* #FEFFFF
https://www.awwwards.com/sites/serio-verify
*/

$button-background: #17252a;
$button-width: 8rem;
$button-padding: 8px;
$button-radius: 1rem;
$text-color: #feffff;
$font-size: 1rem;
$secondary-background: #def2f1;
